/* ОБНУЛЕНИЕ */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    height: -webkit-fill-available; /* Важно для iOS */
    position: fixed; /* Блокирует скролл */
    overflow: hidden;
    background-color: #4ec0ca;
    inset: 0;
}

#app {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
}

/* КАНВАС НА ВЕСЬ ЭКРАН */
canvas {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block;
    z-index: 5;
    object-fit: cover;
}

.screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    pointer-events: auto;
}

.hidden { display: none !important; }

.primary-btn {
    padding: 15px 40px;
    font-size: 20px;
    background: #f7d51d;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.sky-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}