/* Базовые настройки для всего документа */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрет прокрутки */
    background-color: #4ec0ca;
    position: fixed; /* Чтобы не дергалось на iOS */
}

/* Главный контейнер */
#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

/* Твой канвас */
#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
}